html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  font-family: 'Sacremento';
  color: #dbe9f4;
  font-size: 65px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-size: 40px;
  font-weight: normal;
  padding-top: 20%;
  padding-bottom: 5px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #D1A827;
  padding-top: 8%;
  padding-bottom: 2%;
}

a {
  color: #D1A827;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}

a:hover{
  color: #eaf6f6;
}

main p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 50%;
  margin: 5% auto 15% auto;
}

ul{
  margin: 0;
  padding: 0;
}

/* Containers */

.top-container {
  background-image: url(images/DSC100538069.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}

.top-container:after{
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(209,168,39,.8);
}

.bottom-container {
  background-color: rgba(209,168,39,.8);
  position: relative;
  color: #dbe9f4;
  font-size: 0.75rem;
  padding: 15% 0 11%;
}

.white{
  background-color: #fff;
}

.color{
  background-color: rgba(209,168,39,.2);
}

.header-container{
  background-color: rgba(209,168,39,.8);
  position: relative;
  height: 110px;
  width: 100%;
}

.message-container{
  background-color: rgba(209,168,39,.2);
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0;
}

/* Nav Bar */

.topnav {
  position: absolute;
  z-index: 6;
  top: 20px;
  right: 23px;
  width: auto;
  background-color: #303030;
  overflow: hidden;
}

.topnav label{
  cursor: pointer;
  background: url(images/output-onlinepngtools.png) no-repeat center;
  background-border: 5px solid black;
  background-size: contain;
  padding: 15px 0 0 50px;
  color: #303030;
}

.nav-links{
  max-height: 0;
  overflow: hidden;
  transition: 0 0.2s ease-out;
}

.topnav li{
  list-style-type: none;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}

.topnav a:hover {
  color: #505050;
  filter: invert(30%) sepia(0%) saturate(0%) hue-rotate(43deg) brightness(94%) contrast(88%);
}

input#toggle{
  display: none;
}

input:checked ~ .nav-links {
    max-height: 100%;
}

/* Title */

.title-image{
  position: absolute;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.title-name{
  position: relative;
  z-index: 5;
  margin: 0;
  line-height: 1.1;
  padding: 0 8%;
}

.hey-title-text{
  font-size: 25px;
  color: #dbe9f4;
  position: relative;
  z-index: 5;
  padding-top: 32%;
  padding-bottom: 3.5%;
  margin: 0;
}

.title-text{
  font-size: 25px;
  color: #dbe9f4;
  position: relative;
  z-index: 5;
  padding-bottom: 33%;
  padding-top: 3.5%;
  padding-left: 6%;
  padding-right: 6%;
}

/* Intro */

.headshot {
  width: 58%;
  border-radius: 50%;
  border: 11px solid rgba(209,168,39,.2);
}

.intro {
  width: 85%;
  margin: 0 auto;
  padding-top: 10%;
  padding-bottom: 20%;
}

/* Skills & Project*/

.odd, .even {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 15%;
  text-align: center;
}

.last{
   padding-bottom: 20%;
 }

.img-odd, .img-even{
  width: 140px;
  height: 140px;
  color: rgba(209,168,39,.4);
  opacity: .6;
}

/* Contact Me */

.contact-me{
  margin-bottom: 0;
  padding-bottom: 20%;
}

.contact-message {
  width: 85%;
  margin: 0 auto 12%;
}

.contact-list{
  list-style: none;
  padding: 0;
}

.footer-link{
  color: #2099b0;
  font-size: 24px;
}

/* Footer */

.bottom-container a{
  color: #11999E;
}

.copyright{
  margin: 5px 0 0;
}

/* Responsive Design */

@media(min-width: 354px){
  h1{
    font-size: 70px;
  }
  .headshot {
    width: 55%;
    border-width: 11px;
  }
  .hey-title-text{
    padding-top: 26%;
  }
  .title-text{
    padding-bottom: 28%;
  }
  .footer-link{
    font-size: 25px;
  }
}
@media(min-width: 381px){
  h1{
    font-size: 75px;
  }
  .headshot {
    width: 53%;
    border-width: 11px;
  }
  .hey-title-text{
    font-size: 26px;
    padding-top: 21%;
  }
  .title-text{
    font-size: 26px;
    padding-bottom: 23%;
  }
  .footer-link{
    font-size: 26px;
  }
}
@media(min-width: 400px){
  h2{
    font-size: 43.5px;
    padding-top: 15%;
  }
  h3{
    padding-top: 7%;
  }
  hr{
    margin: 4.5% auto 14% auto;
  }
  .intro-contact-hr{
    margin-bottom: 11%;
  }
  .headshot {
    width: 200px;
    border-width: 11px;
  }
  .intro{
    padding-top: 9%;
  }
  .odd, .even {
    padding-bottom: 10%;
  }
  .intro, .last, .contact-me{
    padding-bottom: 15%;
  }
  .contact-message {
    margin-bottom: 9%;
  }
}
@media(min-width: 500px){
  h2{
    padding-top: 12%;
  }
  h3{
    padding-top: 6%;
  }
  .intro-contact-hr{
    margin-bottom: 10%;
  }
  .hey-title-text{
    padding-top: 19%;
    padding-bottom: 3%;
  }
  .title-text{
    padding-bottom: 20%;
  }
  .headshot {
    width: 210px;
    border-width: 11px;
  }
  .intro{
    padding-top: 8%;
    width: 75%;
  }
  .odd, .even {
    padding-bottom: 9%;
  }
  .intro, .last, .contact-me{
    padding-bottom: 12%;
  }
  .contact-message {
    width: 75%;
    margin-bottom: 7%;
  }
  .footer-link{
    font-size: 28px;
  }
  .bottom-container {
    font-size: 0.8rem;
    padding: 14% 0 12%;
  }
}
@media(min-width: 580px){
  h1{
    font-size: 80px;
  }
  h2{
    padding-top: 11%;
  }
  hr{
    margin: 3.5% auto 12% auto;
  }
  .topnav{
    top: 25px;
    right: 30px;
  }
  .intro-contact-hr{
    margin-bottom: 8%;
  }
  .intro{
    padding-top: 7%;
    width: 68%;
  }
  .intro, .last, .contact-me{
    padding-bottom: 11%;
  }
  .bottom-container {
    font-size: 0.85rem;
    padding: 13% 0 10%;
  }
}
@media(min-width: 650px){
  h2{
    font-size: 45px;
    padding-top: 11%;
  }
  .intro-contact-hr{
    margin-bottom: 7%;
  }
  .hey-title-text{
    padding-top: 18%;
  }
  .title-text{
    padding-top: 2%;
    padding-bottom: 19%;
  }
  .intro{
    padding-top: 5%;
    width: 400px;
  }
  .odd, .even {
    padding-bottom: 7.5%;
    width: 80%;
  }
  .contact-message {
    width: 410px;
  }
  .bottom-container {
    padding: 10% 0 8.5%;
  }
}
@media(min-width: 750px){
  h2{
    padding-top: 8%;
  }
  h3{
    padding-top: 4.5%;
  }
  hr{
    margin-bottom: 9.5%;
  }
  .hey-title-text{
    padding-top: 15.5%;
    padding-bottom: 2.5%;
  }
  .title-text{
    padding-bottom: 17%;
  }
  .intro {
    padding-top: 4%;
  }
  .odd, .even {
    padding-bottom: 5.5%;
  }
  .intro, .last, .contact-me{
    padding-bottom: 8.5%;
  }
  .contact-list{
    display: flex;
    justify-content: center;
  }
  .contact-list li{
    margin: 0 2%;
  }
  .bottom-container {
    padding: 9% 0 7%;
  }
}
@media(min-width: 900px){
  h2{
    font-size: 46px;
    padding-top: 7.5%;
  }
  h3{
    padding-top: 0;
    margin-bottom: 0;
  }
  hr{
    margin: 2.5% auto 9% auto;
  }
  .topnav{
    display: initial;
  }
  .topnav li{
    display: inline;
  }
  .topnav a {
    font-size: 17px;
  }
  .topnav-toggle{
    display: none;
  }
  .nav-links{
    max-height: 100%;
  }
  .intro-contact-hr{
    margin-bottom: 5.5%;
  }
  .hey-title-text{
    padding-top: 14%;
  }
  .title-text{
    padding-top: 1.25%;
    padding-bottom: 15%;
  }
  .headshot {
    width: 220px;
  }
  .odd{
    display: flex;
    text-align: left;
    padding-bottom: 7%;
    width: 75%;
  }
  .even{
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    padding-bottom: 7%;
    width: 75%;
  }
  .odd-even-text{
    flex-direction: column;
    padding: 0 3%;
    margin: 0;
  }
  .odd-even-text p{
    margin: 0;
  }
  .img-odd, .img-even{
    align-self: center;
  }
  .contact-list li{
    margin: 0 3%;
  }
  .bottom-container {
    padding: 7.5% 0 5.5%;
  }
}
@media(min-width: 1000px){
  h2{
    font-size: 47px;
    padding-top: 7%;
  }
  .intro-contact-hr{
    margin-bottom: 5%;
  }
  .headshot {
    width: 230px;
  }
  .intro {
    padding-top: 3.5%;
  }
  .odd{
    width: 65%;
  }
  .even{
    width: 65%;
  }
  .bottom-container {
    padding: 6.5% 0 4.5%;
  }
}
@media(min-width: 1100px){
  h1{
    font-size: 85px;
  }
  hr{
    margin: 2% auto 8% auto;
  }
  .topnav a {
    font-size: 18px;
  }
  .bottom-container {
    padding: 6% 0 4%;
  }
}
@media(min-width: 1200px){
  h1{
    font-size: 90px;
  }
  h2{
    font-size: 50px;
  }
  hr{
    margin-bottom: 7%;
  }
  .topnav{
    top: 30px;
    right: 40px;
  }
  .hey-title-text{
    font-size: 27px;
    padding-top: 16%;
    padding-bottom: 2%;
  }
  .title-text{
    font-size: 27px;
    padding-top: 1.25%;
    padding-bottom: 16.75%;
  }
  .odd{
    width: 60%;
    padding-bottom: 5.25%;
  }
  .even{
    width: 60%;
    padding-bottom: 5.25%;
  }
  .intro, .last, .contact-me{
    padding-bottom: 8.5%;
  }
}
@media(min-width: 1400px){
  h1{
    font-size: 95px;
  }
  h2{
    font-size: 53px;
  }
  .topnav{
    top: 40px;
    right: 50px;
  }
  .topnav a {
    font-size: 20px;
    padding: 15px 17px;
  }
  .hey-title-text{
    font-size: 30px;
    padding-top: 16.5%;
    padding-bottom: 1.65%;
  }
  .title-text{
    font-size: 30px;
  }
  .headshot {
    width: 240px;
  }
  .intro, .contact-message{
    width: 420px;
  }
  .img-odd, .img-even{
    width: 150px;
    height: 150px;
  }
  .footer-link{
    font-size: 32px;
  }
  .contact-list li{
    margin: 0 2.5%;
  }
  .bottom-container {
    padding: 5.5% 0 3.5%;
  }
}
@media(min-width: 1600px){
  h1{
    font-size: 105px;
  }
  h2{
    font-size: 57px;
  }
  h3, .hey-title-text, .title-text, .footer-link{
    font-size: 33px;
  }
  main p{
    font-size: 19px;
  }
  hr{
    margin-bottom: 6%;
  }
  .topnav a {
    font-size: 21px;
  }
  .headshot {
    width: 240px;
    border-width: 12px;
  }
  .intro {
    padding-top: 3%;
  }
  .intro, .contact-message{
    width: 440px;
  }
}
@media(min-width: 1800px){
  h1{
    font-size: 115px;
  }
  h2{
    font-size: 59px;
  }
  h3, .hey-title-text, .title-text{
    font-size: 34px;
  }
  main p{
    font-size: 20px;
  }
  hr{
    margin-bottom: 5%;
  }
  .topnav{
    top: 50px;
    right: 60px;
  }
  .topnav a {
    font-size: 23px;
    padding: 16px 19px;
  }
  .intro, .contact-message{
    width: 460px;
  }
  .img-odd, .img-even{
    width: 160px;
    height: 160px;
  }
  .footer-link{
    font-size: 35px;
  }
  .bottom-container {
    padding: 5% 0 3.5%;
  }
}
@media(min-width: 2000px){
  h1{
    font-size: 125px;
  }
  h2{
    font-size: 61px;
  }
  h3, .hey-title-text, .title-text{
    font-size: 36px;
  }
  main p{
    font-size: 22px;
  }
  .topnav{
    top: 60px;
    right: 70px;
  }
  .topnav a {
    font-size: 27px;
    padding: 16px 20px;
  }
  .headshot {
    width: 250px;
  }
  .intro, .contact-message{
    width: 485px;
  }
  .img-odd, .img-even{
    width: 170px;
    height: 170px;
  }
  .footer-link{
    font-size: 37px;
  }
  .bottom-container {
    padding: 4.5% 0 3.5%;
  }
}
@media(min-width: 2200px){
  h1{
    font-size: 135px;
  }
  h2{
    font-size: 67px;
    padding-top: 7%;
  }
  h3, .hey-title-text, .title-text{
    font-size: 38px;
  }
  main p{
    font-size: 24px;
  }
  .topnav{
    top: 70px;
    right: 80px;
  }
  .topnav a {
    font-size: 29px;
    padding: 17px 22px;
  }
  .headshot {
    width: 260px;
    border-width: 12.5px;
  }
  .intro, .contact-message{
    width: 500px;
  }
  .img-odd, .img-even{
    width: 180px;
    height: 180px;
  }
  .footer-link{
    font-size: 40px;
  }
  .bottom-container {
    padding: 4.5% 0 3.5%;
  }
  .intro, .last, .contact-me{
    padding-bottom: 7.5%;
  }
}
@media(min-width: 2400px){
  h1{
    font-size: 145px;
  }
  h2{
    font-size: 73px;
    padding-top: 6%;
  }
  h3, .hey-title-text, .title-text{
    font-size: 40px;
  }
  .topnav{
    top: 75px;
    right: 85px;
  }
  .topnav a {
    font-size: 32px;
    padding: 18px 24px;
  }
  .headshot {
    width: 260px;
    border-width: 12.5px;
  }
  .intro, .contact-message{
    width: 500px;
  }
  .footer-link{
    font-size: 42px;
  }
  .bottom-container {
    padding: 4% 0 3%;
  }
  .intro, .last, .contact-me{
    padding-bottom: 7%;
  }
}
